section {
  padding-top: 120px;
  padding-bottom: 120px;
}

input {
  font-family: "Roboto", sans-serif;
}
/*Header navigation start*/

.navigation {
  display: flex;
  align-items: center;
  padding: 24px 0;
}

.header-decoration .container {
  display: flex;
}
.navigation-link-logo {
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  margin-right: 76px;
}
.navigation-link-logo-studio {
  color: #2e2f42;
}

.address {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.address-list {
  display: flex;
  gap: 40px;
  align-items: center;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list-item-link {
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-list-item-link:hover,
.address-list-item-link:focus {
  color: #404bbf;
}
/*Header navigation end*/

/*Hero buner start*/
.hero-baner {
  max-width: 1440px;
  background-position: center;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/People-Office.jpg);

  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  padding: 188px 0;
  margin: 0 auto;
}

.hero-baner-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}

.hero-baner-button {
  color: white;
  background-color: #4d5ae5;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-baner-button:hover,
.hero-baner-button:focus {
  background-color: #404bbf;
}
/*Hero buner end*/

/*Section advantages start*/

.advantages-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 24px;
}
.advantages-list-item {
  gap: 24px;
  width: calc((100% - 72px) / 4);
}
.icons {
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  margin-bottom: 8px;
  background-color: #f4f4fd;
  display: flex;
  justify-content: center;
  align-items: center;
}

.advantages-list-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.advantages-list-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/*Section advantages end*/

/*Section team start*/
.team {
  background-color: #f4f4fd;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
  margin: 0 auto 72px;
}
.team-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 24px;
  margin: 0 auto;
}
.team-list-item {
  background-color: #ffffff;
  text-align: center;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.container-name {
  padding: 32px 0;
}
.team-list-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}
.team-list-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
  margin-bottom: 8px;
}
.icons-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.icons-list-item {
  width: 40px;
  height: 40px;
}
.icons-list-item-link {
  background-color: #4d5ae5;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.icon-link {
  fill: #f4f4fd;
}

.icons-list-item-link:hover,
.icons-list-item-link:focus {
  background-color: #404bbf;
}
/*Section team end*/

/*Section portfolio start*/

.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-item {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-list-item:hover {
  transform: translateY(0%);
}

.portfolio-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.overlay {
  overflow: hidden;
  position: relative;
}
.overlay-paragraf {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #4d5ae5;
  padding: 40px 32px;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-item:hover .overlay-paragraf {
  transform: translateY(0%);
}
.portfolio-list-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.portfolio-list-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/*Section portfolio end*/

/*Footer start*/
.footer {
  background: #2e2f42;
  height: 312px;
  padding: 100px 0;
}
.footer-logo {
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}
.footer-logo-studio {
  color: #f4f4fd;
}
.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

.footer-link-text {
  font-size: 16px;
  color: #fff;
  margin-bottom: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-conteiner-logo {
  margin-right: 120px;
}
.icons-list-footer {
  display: flex;
  gap: 16px;
}
.footer-conteiner {
  display: flex;
  align-items: baseline;
}

.icons-list-footer .icons-list-item-link:focus,
.icons-list-footer .icons-list-item-link:hover {
  background-color: #31d0aa;
}
.footer-subscribe {
  margin-left: auto;
}
.footer-subscribe-inter {
  display: flex;
  align-items: center;
  gap: 24px;
}
.footer-input {
  margin-right: 24px;
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  padding: 8px 16px;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.placeholder {
  color: #ffffff;
}

.footer-input:hover {
  border: 1px solid #31d0aa;
}
.footer-button {
  border-radius: 4px;
  padding: 8px 24px;
  height: 40px;
  background-color: #4d5ae5;
  color: #fff;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  min-width: 165px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
}
.footer-button:hover {
  background-color: #31d0aa;
}
.footer-svg {
  fill: #fff;
  margin-left: 16px;
}
/*Footer end*/
.backdrope {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrope.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 408px;
  min-height: 584px;
  background-color: #fcfcfc;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}
.form {
  width: 360px;
  margin: auto;
}
.form-input {
  border: 1px solid #2e2f42;
  border-radius: 4px;
  width: 100%;
  height: 40px;
  margin-bottom: 8px;
  padding-left: 38px;
  background-color: transparent;
  outline: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus {
  border-color: #4d5ae5;
}

.form-label {
  font-weight: 400;
  font-size: 12px;
  color: #8e8f99;
  line-height: 1.17;
  letter-spacing: 0.04em;
  display: block;
  margin-bottom: 4px;
}
.form-field {
  position: relative;
}
.form-text {
  width: 100%;
  height: 120px;
  resize: none;
  padding: 8px 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  margin-bottom: 16px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
}
.form-text:focus {
  border-color: #4d5ae5;
}
.form-text::placeholder {
  color: #2e2f42;
}
.button-close {
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  margin-bottom: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-close:hover,
.button-close:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
.button-close-svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-close-svg:hover,
.button-close-svg:focus {
  fill: #fff;
}

.name-form {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.form-container {
  position: relative;
  margin-bottom: 8px;
}
.form-container:focus-within .form-svg {
  fill: #4d5ae5;
}

.form-svg {
  position: absolute;
  top: 26px;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-textarea {
  margin-bottom: 16px;
}
.checkbox-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.checkbox-span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
}
.chec:checked + .checkbox-text .checkbox-span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.checkbox-link {
  color: #4d5ae5;
  line-height: 1.33;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}
.checkbox-container {
  margin-bottom: 24px;
}
.form-button {
  color: white;
  background-color: #4d5ae5;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-button:hover,
.form-button:focus {
  background-color: #404bbf;
}
.chec {
  border-radius: 2px;
  border: 1px solid #2e2f42;
}
